<div class="page-header">
	<h1><span class="mega-octicon octicon-device-desktop"></span> Gaming - Overview</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="overview">
			<p>I'm a gamer, I've played a lot of games over the years. Here's a selection of interesting/useless statistics of the games I've played.</p>
		</div>
		
		<div class="alert alert-warning" role="alert">
			<p><strong>Warning!</strong> These stats don't update dynamically (yet), this is just a proof-of-concept.</p>
			<p>Last updated 26/12/2014.</p>
		</div>
		
		<div id="stats">
			<h3>Games by Platform</h3>
			<div id="chart-platforms"></div>
			
			<h3>Achievements/Trophies by Platform</h3>
			<div id="chart-achievements"></div>
			
			<h3>PSN Trophy Type Breakdown</h3>
			<div id="chart-trophy-breakdown"></div>
			
			<h3>PSN Trophies by Day</h3>
			<div id="chart-trophy-day"></div>
			
			<h3>PSN Trophies by Time</h3>
			<div id="chart-trophy-time"></div>
		</div>
		
	</div>
</div>