<div class="page-header">
	<h1><span class="mega-octicon octicon-question"></span> About</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<h3><span class="mega-octicon octicon-browser"></span> Site</h3>
		<p>Static site hosted on github pages.</p>
		<ul>
			<li><a href="https://github.com/cncplyr/cncplyr.github.io">GitHub Repo</a></li>
		</ul>
		<h3><span class="mega-octicon octicon-repo-clone"></span> Libraries</h3>
		<p>Libraries used in this site.</p>
		<ul>
			<li>AngularJS</li>
			<li>Angular UI Router</li>
			<li>Angular UI Bootstrap</li>
			<li><a href="http://jquery.com/">jQuery</a></li>
			<li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
			<li><a href="http://bootswatch.com/paper/">Bootstrap Theme - Paper</a></li>
			<li><a href="https://octicons.github.com/">GitHub Octicons</a></li>
			<li><a href="http://c3js.org/">c3.js</a></li>
		</ul>
	</div>
</div>
</div>