<div class="col-sm-6">
	<div class="thumbnail">
		<img src="img/mango.png" alt="Screenshot of Mango game" width="250" height="350" title="Mango!">
		<div class="caption">
			<h5 class="project-title">{{title}}</h5>
			<p>{{description}}</p>
			<ul class="project-links">
				<li><a href="/mango"><span class="octicon octicon-playback-play"></span> Play Online</a></li>
				<li><a href="https://github.com/cncplyr/mango"><span class="octicon octicon-repo"></span> Source Code</a></li>
			<ul>
		</div>
	</div>
</div>